#gisbaritems .icongroup{
    border-right: 0.2em dotted #919191;
    display: inline-block;
    height: max-content;
 }
.icongroup .icon{
    padding: 0.1em;
    margin: 0 0.5em;
}
.icon:hover{
    outline: 1px solid grey;
}
.openFile {
    content:url("../../icons/24x24/open-trad.png");
 }

 .saveFile {
    content:url("../../icons/24x24/save-trad.png");
 }
 .saveAsFile {
    content:url("../../icons/24x24/save-as-trad.png");
 }
 .newProject{
     content:url("../../icons/24x24/create.png")
 }
 .zoomIn{
    content:url("../../icons/24x24/zoom-in.png")
}
.zoomOut{
    content:url("../../icons/24x24/zoom-out.png")
}
.zoomLayer{
    content:url("../../icons/24x24/zoom-layer.png")
}
.zoomSelection{
    content:url("../../icons/24x24/zoom-selection.png")
}
.zoomRegion{
    content:url("../../icons/24x24/zoom-region.png")
}
.zoomExtent{
    content:url("../../icons/24x24/zoom-extent.png")
}
.zoomNext{
    content:url("../../icons/24x24/zoom-next.png")
}
.zoomLast{
    content:url("../../icons/24x24/zoom-last.png")
}
.pan{
    content:url("../../icons/24x24/pan.png")
}
.addBookmark{
    content: url("../../icons/24x24/add-bookmark.png");
}
.showBookmark{
    content: url("../../icons/24x24/show-bookmark.png")
}
.redraw{
    content:url("../../icons/24x24/redraw.png");
}
.undo{
    content: url("../../icons/24x24/undo.png");
}
.redo{
    content: url("../../icons/24x24/redo.png");
}
.measure{
    content: url("../../icons/24x24/measure.png");
}
.select{
    content: url("../../icons/24x24/select.png");
}
.unselect{
    content: url("../../icons/24x24/unselect.png");
}
.deleteSelected{
    content: url("../../icons/24x24/selected-delete.png");
}
.selectionInvert{
    content: url("../../icons/24x24/selection-invert.png");
}
.table{
    content: url("../../icons/24x24/table.png");
}
.calculator{
    content: url("../../icons/24x24/calculator.png");
}
.tools{
    content: url("../../icons/24x24/tools.png");
}
.python{
    content:url("../../icons/24x24/python.png")
}
.print{
    content: url("../../icons/24x24/print.png");
}
.help{
    content: url("../../icons/24x24/help.png");
}
.modelBuilder{
    content: url("../../icons/24x24/modeler-main.png");
}
.settings{
    content: url("../../icons/24x24/settings.png");
}
.layerDb{
    content: url("../../icons/24x24/layer-db.png");
}
.layerDbAdd{
    content: url("../../icons/24x24/layer-db-add.png");
}
.layerDbCreate{
    content: url("../../icons/24x24/layer-db-sql-create.png");
}
.createQueryLayer{
    content: url("../../icons/24x24/layer-db-sql-add.png");
}
.layerDbExport{
    content: url("../../icons/24x24/layer-db-sql-export.png");
}
.layerDbImport{
    content: url("../../icons/24x24/layer-db-sql-import.png");
}
.layerAdd{
    content: url("../../icons/24x24/layer-add.png");
}
.layerCreate{
    content: url("../../icons/24x24/layer-create.png");
}
.layerEdit{
    content: url("../../icons/24x24/layer-edit.png");
}
.layerExport{
    content: url("../../icons/24x24/layer-export.png");
}
.layerImport{
    content: url("../../icons/24x24/layer-import.png");
}
.layerRemove{
    content: url("../../icons/24x24/layer-remove.png");
}
.layerOpacityDecrease{
    content: url("../../icons/24x24/layer-opacity-decrease.png");
}
.layerOpacityIncrease{
    content: url("../../icons/24x24/layer-opacity-increase.png");
}