.App {
  text-align: center;
  display: 'flex',
}
.App .dark{
  background-color: black;
  outline-color: blanchedalmond;
  color:white;
  outline: blanchedalmond;
  outline-width: thick;
}

.App .light{
  background-color: white;
}